<!DOCTYPE html>
<!-- index content-->
<html>
{%block header%}
   <mtea http-equiv="Content-Type" content="text/html;charset=utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="https://img3.doubanio.com/f/frodo/144e6fb7d96701944e7dbb1a9bad51bdb1debe29/pics/app/logo.png">
   <title>意艺品</title>
   {%endblock%}

<!--Add style to the sidebar-->
<body>
<div>
  <header>
    <nav>
     <div>
      <a  href="/">意艺品</a>
     </div>
    </nav>
  </header>
</div>
{% block content %}
<p></p>
<h1><a>读书</a></h1>
<h1><a>电影</a></h1>
<h1><a>音乐</a></h1>
<h1><a>热点内容</a></h1>
{% endblock %}
{% block footer%}
<div>
© 2005－2017 douban.com, all rights reserved 北京豆网科技有限公司 
<a href="">京ICP证090015号</a> 京ICP备11027288号 网络视听许可证0110418号 
京网文[2015]2026-368号 <a  href="">京公网安备11010502000728</a>  新出网证(京)字129号 
违法和不良信息举报电话：4008353331  
<a  href=""> 中国互联网举报中心</a> 电话：12377 <a  href="">食品流通许可证》许可证：SP1101051510347287</a> 
新出发京批字第直160029号
</div>
<div>
<a href="">关于豆瓣</a> · <a href="">在豆瓣工作 </a>· <a href="">联系我们</a> · <a href="">免责声明</a> · <a href=""> 帮助中心</a> · <a href="">移动应用</a> · <a href="">豆瓣广告</a>
</div>
{% endblock %}

</body>
</html>
