

{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="https://img3.doubanio.com/f/frodo/144e6fb7d96701944e7dbb1a9bad51bdb1debe29/pics/app/logo.png">
<meta charset="utf-8">

<title>仿豆瓣首页</title>
<!-- Bootstrap core CSS-->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style>
    .col-xs-3 { width:20%;}
</style>
</head>

<body style="margin:30px">
<!-- body content nav-->
<div class="Mynav" style="height:80px;">
<nav class="navbar navbar-default" role="navigation"> 
    <div class="container-fluid"> 
    <div class="navbar-header"> 
        <a class="navbar-brand" href="#">douban</a>
        <!-- nav with icon-->
        <!--  <img alt="Brand" src="..."-->
        <a  href="" class="text-muted">
            <strong><h4> 豆瓣<h4></strong>
        </a>
    </div> 
    <div> 
       
        <form class="navbar-form navbar-left" role="search"> 
         <div class="form-group"> 
            <input type="text" class="form-control" style="width:280px;"  placeholder="书籍、电影、音乐、小组、小站、成员 "> 
         </div> 
        </form> 

        <p  style="letter-spacing:3px;"> 
       <ul class="nav navbar-nav navbar-right" >
           <li><strong><h4><a href="#"  class="text-muted">读书</a></h4></strong></li>
           <li><strong><h4><a href="#"  class="text-success">电影</a></h4></strong></li>
           <li><strong><h4><a href="#"  class="text-primary">音乐</a></h4></strong></li>
           <li><strong><h4><a href="#"  class="text-info">小组</a></h4></strong></li>
           <li><strong><h4><a href="#"  class="text-warning">同城</a></h4></strong></li>
           <li><strong><h4><a href="#"  class="text-danger">FM</a></h4></strong></li>
           <li><strong><h4><a href="#"  class="text-warning">时间</a></h4></strong></li>
           <li><strong><h4><a href="#"  class="text-success">市集</a></h4></strong></li>
        </ul> 
        </p>
</nav> 
</div>  
<!-- body content nav end-->  
<!-- middle  panel-->
 
   <div  style="background:no-repeat 5px 5px url(https://img3.doubanio.com/f/frodo/cc3adc46a9911fe16b2c9212af2c284a512f3b72/pics/app/pic02.png);"> 
     <table class="table"> 
      <tbody>
       <tr> 
        <td>
        <img src="https://img3.doubanio.com/f/frodo/cc3adc46a9911fe16b2c9212af2c284a512f3b72/pics/app/pic02.png" height="200" />
       </td> 
        <td> 
         <form role="form">
            <div class="form-group">
          <label><h4><span class=" ">豆瓣</span>&nbsp;5.0</h4>
         我们的精神角落 
          </label>
          
          <label>
          <p class="btn btn-success"> 下载豆瓣APP</p> <img src="https://img3.doubanio.com/f/sns/0c708de69ce692883c1310053c5748c538938cb0/pics/sns/anony_home/icon_qrcode_green.png" width="28" height="28" /></label>
            </div> 
         </form>
         </td> 
        <td> 
         <!--loginForm--> 
         <div class="form-group "> 
          <form class="form-horizontal" role="form" method="post">
            {% csrf_token %} 
           <div class="form-username"> 
           <p> <input type="text" name="username" id="phone" class="form-username" value="" placeholder="邮箱/手机号" /> </p>
         
            <input type="text" name="password" id="password" class="form-password" value="" placeholder="密码" /> 
           </div> 
      
     <!--form-buttom--> 
      <div class="form-buttom"> 
         <button type="submit" class="form-buttom2  text-success"> <strong>登录豆瓣 <strong></button>
          <button type="submit" clas="form-buttom2"> 注册账号 </button> 
       <div class="checkbox"> 
         <label> <input type="checkbox" /> 记住我 </label>
         <img src="https://res.wx.qq.com/connect/zh_CN/htmledition/images/favicon3696b4.ico" /> 
         <img src="https://weibo.com/favicon.ico" width="20" height="20" //>  
        </div> 
      </div> 
           
          </form> 
         </div>
         </td> 
       </tr>   
      </tbody>
     </table> 
    </div> 
  
   
  <!-- middle end--> 
  <!-- Picture -->
<img src="https://img1.doubanio.com/view/dale-online/dale_ad/public/2ac138c72d252b8.jpg" class="img-responsive center-block" />
 <!-- Picture -->  
 <!--container-fluid -->
<div class="container-fluid">
  <div class="row">
<!--main doubanTopic-->
<div >
    <div >
     <table class="table"> 
      <tbody>
       <tr> 
        <td>
        
        热点内容  · · · · ·  ( <a href="">更多</a>)
<div class="row">

        <div class="col-sm-6 col-md-5">
         <div class="thumbnail">  
          <img src="https://img1.doubanio.com/view/photo/albumcover/public/p2505555419.webp"   >
           <div class="caption">
            <p><h6>竹芋植物饲养手册  9张照片</h6></p>
           </div>
          </div>
        </div> 
       
      
        <div class="col-sm-6 col-md-5">
         <div class="thumbnail">  
          <img src="https://img3.doubanio.com/view/photo/albumcover/public/p2327338913.webp">
           <div class="caption">
            <p><h6>styling 59张照片</h6></p>
           </div>
          </div>
        </div>  
     
        <div class="col-sm-6 col-md-5">
         <div class="thumbnail">  
          <img src="https://img1.doubanio.com/view/photo/albumcover/public/p2220219198.webp">
           <div class="caption">
            <p><h6>岛国十日 43张照片</h6></p>
           </div>
          </div>
        </div> 
     
     
        <div class="col-sm-6 col-md-5">
         <div class="thumbnail">  
          <img src="https://img1.doubanio.com/view/photo/albumcover/public/p2495099147.webp">
           <div class="caption">
            <p><h6>国境以南 48张照片</h6></p>
           </div>
          </div>
        </div>    
</div>
    </td>
      <td>
  <a href=""> 从读书笔记到论文</a></p>
    拙棘的日记
    这么些年，我基本的工作形态还是看书、写笔记，写论文都是因为某些外在原因不得已...
   <p><h6><a href="" class="myLink">小白看画诀窍：如何一眼认出来是哪位大师的作品</a></h6></p>
   <p><h6><a href="" class="myLink">如何培养自己的镜头感，拍出自然不做作的照片？</a></10></p>
   <p><h6><a href="" class="myLink">关于Tesla卡车和新Roadster发布的一些看法</a></h6></p>
   <p><h6><a href="" class="myLink">国宴和汉堡</a></h6></p>
   <p><h6><a href="" class="myLink">怀念一个逝去的乐手，怀念一种朴素的品质</a></h6></p>
   <p><h6><a href="" class="myLink">战狼的女人来踢馆了，余男面前谁敢造次？ |《瓣嘴3》第18期</a></h6></p>
   <p><h6><a href="" class="myLink">专访梅峰：改编老舍作品当然很难，但也从来没想过放弃</a></h6></p>
   <p><h6><a href="" class="myLink">给爱因斯坦做尸检的那个人，偷走他的大脑并私藏了43年</a></h6></p>
   <p><h6><a href="" class="myLink">大好头颅 ：（一）谁人砍之</a></h6></p> 
    </td>
    <td>
    热门话题  · · · · · ·  ( <a href="">去话题广场 </a> )
 <img src="https://img3.doubanio.com/view/dale-online/dale_ad/public/74b10bbfcd45052.jpg" width="280" >
  <p><a href="" class="myLink">关注红黄蓝幼儿园虐童事件</a></p> 
  3976人参与
  <p><a href="" class="myLink">《嘉年华》这样的儿童性侵题材电影有哪些现实意义？</a></p> 
  2094人参与
  <p><a href="" class="myLink">黑五什么值得买</a></p> 
  2242人参与
  <p><a href="" class="myLink">谁塑造了你的语言</a></p> 
  <p><a href="" class="myLink">你遣词造句的风格受谁影响最大？ · 284人参与</a></p> 
  <p><a href="" class="myLink">如何看待刘鑫江歌事件</a></p> 
  <p><a href="" class="myLink">江歌遇害案庭审在即 · 13084人参与</a></p> 
  <p><a href="" class="myLink">侦探推理小说史上不可错过的佳作有哪些</a></p> 
  <p><a href="" class="myLink">从本格派到社会派 · 274人参与</a></p>
  </td> 
    </tbody>
   </table>  
 </div>
</div>  

<!--Topic end-->

<!--main doubanTime-->
<div >
    <div >
    
    <table class="table"> 
      <tbody>
       <tr> 
      <td> <h4>豆瓣时间</h4> </td>
        <td>
        热门专栏 ······  ( <a href="">更多  </a> )

<div class="container">
 <div class="row">
        <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img3.doubanio.com/dae/niffler/niffler/images/c092c880-ce6f-11e7-b81b-0242ac110014.png" width="120" height="200">
           <div class="caption">
           <h6> <p>哲学闪耀时——</p> <p>不一样的西方哲学史</p>
音频专栏</h6>
           </div>
          </div>
        </div> 
        <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img1.doubanio.com/dae/niffler/niffler/images/044bb4c8-7688-11e7-b63f-0242ac110028.jpg" width="120" height="200" >
           <div class="caption">
           <h6> <p>一碗茶的款待——</p> <p>日本茶道的形与心</p></h6>
           </div>
          </div>
        </div> 
        <div class="col-xs-3 ">
         <div class="">  
          <img src="https://qnmob3.doubanio.com/dae/niffler/niffler/images/d3ebd76c-9f78-11e7-b531-0242ac11002d.png?imageView2/1/q/60/w/300/h/300/format/jpg" width="120" height="200" >
           <div class="caption">
           <h6> <p>丹青贵公子</p>—— <p>艺苑传奇赵孟頫</p></h6>
           </div>
          </div>
        </div> 
        <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img3.doubanio.com/dae/niffler/niffler/images/c3ab871e-2401-11e7-9fe8-0242ac110046.png" width="120" height="200" >
           <div class="caption">
             <h6> <p>邪典电影本纪</p>—— <p>亚文化电影50讲</p></h6>
           </div>
          </div>
        </div> 
        <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img3.doubanio.com/dae/niffler/niffler/images/f25a3922-97a4-11e7-907c-0242ac110025.png"  width="120" height="200" >
           <div class="caption">
              <h6> <p>笔落惊风雨</p>—— <p>你不可不知的中国三大名画</p></h6>
           </div>
          </div>
        </div> 
         </div>

          <div class="row"> 

        <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img1.doubanio.com/dae/niffler/niffler/images/8a67026e-ba13-11e7-9f54-0242ac110038.png" width="120" height="200" >
           <div class="caption">
           <h6> <p>民谣与台湾故事</p>—— <p>胡德夫的音乐时间</p></h6>
           </div>
          </div>
        </div> 
        <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img1.doubanio.com/dae/niffler/niffler/images/0f2c7af6-985e-11e7-bca2-0242ac11001b.png" width="120" height="200" >
           <div class="caption">
             <h6> <p>拍张好照片</p>—— <p>10分钟搞定旅行摄影</p></h6>
           </div>
          </div>
        </div> 
        <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img1.doubanio.com/dae/niffler/niffler/images/7bea8578-3f69-11e7-8261-0242ac11001b.png" width="120" height="200>
           <div class="caption">
            <h6> <p>人性皆有裂隙</p>—— <p>理解人格的52堂心理课</p></h6>
           </div>
          </div>
        </div> 
         <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img1.doubanio.com/dae/niffler/niffler/images/54d34448-1dea-11e7-afa9-0242ac11002c.jpg" width="120" height="200" >
           <div class="caption">
           <h6> <p>古今</p>—— <p>杨照史记百讲</p></h6>
           </div>
          </div>
        </div> 

         <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img3.doubanio.com/dae/niffler/niffler/images/95667170-874d-11e7-a14f-0242ac110020.png" width="120" height="200" >
           <div class="caption">
            <h6> <p>吃个宋代冰淇淋</p>—— <p>随孟晖女史重觅古代生活</p></h6>
           </div>
          </div>
        </div> 
        <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img3.doubanio.com/dae/niffler/niffler/images/f90e218a-b8aa-11e7-9cc5-0242ac110021.jpg" width="120" height="200" >
           <div class="caption">
             <h6> <p>拍张好照片</p>—— <p>10分钟搞定旅行摄影</p></h6>
图文专栏</h6></p>
           </div>
          </div>
        </div> 
        <div class="col-xs-3 ">
         <div class="">  
          <img src="https://img3.doubanio.com/dae/niffler/niffler/images/c906ab4a-b7a8-11e7-94c9-0242ac11000e.jpg"  width="120" height="200" >
           <div class="caption">
            <h6> <p>醒来</p>—— <p>北岛和朋友们的诗歌课</p></h6>
音频专栏</h6></p>
           </div>
          </div>
        </div> 
        </div>
          </div>
        
    
        </td>
        </tr>  
        </tbody>
     </table> 
    </div> 
  </div> 
<!--main doubanTime end-->     
<!--main doubanVideo-->
<!--main  doubanVideo-->
<div >
    <div >
    
    <table class="table"> 
      <tbody>
       <tr> 
      <td><div> <h4>视频</h4></div> </td>
        <td>
 <a href="">如是  · · · · · ·  </a>
  <div class="row">
        <div class="col-sm-6 col-md-3">
         <div class="">  
          <img src="https://img3.doubanio.com/img/files/file-1505369246.jpg"  width="200" height="150">
           <div class="caption">
            <p><h6>《如是》第十二期丨如是：这是我的路，你的呢？</h6></p>
           </div>
          </div>
        </div> 
        <div class="col-sm-6 col-md-3">
         <div class="">  
          <img src="https://img3.doubanio.com/img/files/file-1505369232.jpg"  width="200" height="150">
           <div class="caption">
            <p><h6>《如是》第十一期丨王珮瑜：</p><p>撕裂的生活很痛，但我喜欢</p></h6>
           </div>
          </div>
        </div> 
        <div class="col-sm-6 col-md-3">
         <div class="">  
          <img src="https://img1.doubanio.com/img/files/file-1505369217.jpg"  width="200" height="150">
           <div class="caption">
           <h6> <p>《如是》第十期｜西川：</p><p>凡是能够使我获得再生之感的东西，都是诗意</p></h6>
           </div>
          </div>
        </div> 
        <!--row-->
          </div>
          <!--row-->
        <h6> <a class="text-success" href="">瓣嘴  · · · · · ·</a> </h6> 
        <div class="row">
        <div class="col-sm-6 col-md-3">
         <div class="">  
          <img src="https://img1.doubanio.com/img/files/file-1505369217.jpg"  width="200" height="150" >
           <div class="caption">
             <h6> <p>战狼的女人来踢馆了，</p><p>余男面前谁敢造次？</p></h6>
           </div>
          </div>
        </div> 
       
        <div class="col-sm-6 col-md-3">
         <div class="">  
          <img src="https://img3.doubanio.com/img/files/file-1510784235.jpg"   width="200" height="150">
           <div class="caption">
            <h6> <p>“妖孽”影帝现场发车，没想到你是这样的</p><p>段奕宏 | 《瓣嘴3》第17期</p></h6>
           </div>
          </div>
        </div> 
        <div class="col-sm-6 col-md-3">
         <div class="">  
          <img src="https://img3.doubanio.com/img/files/file-1510210991.jpg"  width="200" height="150">
           <div class="caption">
            <h6> <p>乔杉怼毒评太销魂，实力演绎直男式</p><p>懵圈 | 《瓣嘴3》第16期</p></h6>
           </div>
          </div>
        </div> 
        </div>
        </td>
        </tr>  
        </tbody>
     </table> 
    </div> 
  </div> 
<!--main  doubanVideo end-->     




<!--main doubanPlay-->
<div >
    <div >
    <h4>电影</h4> 
    <table class="table"> 
      <tbody>
       <tr> 
        <td>
       <p><h6><a href="">影讯&购票</a></h6></p> 
       <p><h6><a href="">选电影</a></h6></p> 
       <p><h6><a href="">电视剧</a></h6></p> 
       <p><h6><a href="">排行榜</a></h6></p> 
       <p><h6><a href="">分类</a></h6></p> 
       <p><h6><a href="">影评</a></h6></p>
       <p><h6><a href="">预告片</a></h6></p> 
       <p><h6><a href="">问答</a></h6></p>
        </td>
                <td>
    <a href=""> 正在热映  · · · · · ·</a>  (<a href=""> 更多 </a>)


     <div class="row" >
        <div class="col-sm-3">
         <div class="">  
          <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2503997609.webp"  height="200" width="120" width="120">
           <div class="caption">
            <p><h6>寻梦环游记
寻梦环游记
9.3</p>
  <p><span class="btn btn-success">选座购票</span></h6></p>
           </div>
          </div>
        </div> 

         <div class="col-sm-3">
         <div class="">  
          <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2505701555.webp"  height="200" width="120" width="120">
           <div class="caption">
            <p><h6>垫底联盟
暂无评分</p>
 <p><span class="btn btn-success">选座购票</span></h6></p>
           </div>
          </div>
        </div> 


           <div class="col-sm-3">
         <div class="">  
          <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2504804074.webp"   height="200" width="120" width="120">
           <div class="caption">
            <p><h6>星期8
暂无评分</p>
 <p><span class="btn btn-success">选座购票</span></h6></p>
           </div>
          </div>
        </div> 
         <div class="col-sm-3">
         <div class="">  
          <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2504027804.webp"  height="200" width="120" width="120">
           <div class="caption">
            <p><h6>正义联盟
6.8</p>
 <p><span class="btn btn-success">选座购票</span></h6></p>
           </div>
          </div>
        </div> 
         </div>   
<div class="row">
           <div class="col-sm-3">
         <div class="">  
          <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2504984545.webp"  height="200" width="120" width="120">
           <div class="caption">
            <p><h6>追捕
4.8</p>
 <p><span class="btn btn-success">选座购票</span></h6></p>
           </div>
          </div>
        </div> 
         <div class="col-sm-3">
         <div class="">  
          <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2503578746.webp"  height="200" width="120" width="120">
           <div class="caption">
            <p><h6>引爆者
6.7</p>
 <p><span class="btn btn-success">选座购票</span></h6></p>
           </div>
          </div>
        </div> 


           <div class="col-sm-3">
         <div class="">  
          <img src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2503644828.webp"  height="200" width="120" width="120">
           <div class="caption">
            <p><h6>嘉年华
8.6</p>
 <p><span class="btn btn-success">选座购票</span></h6></p>
           </div>
          </div>
        </div> 
         <div class="col-sm-3">
         <div class="">  
          <img src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2500451074.webp"  height="200" width="120" width="120">
           <div class="caption">
            <p><h6>雷神3：诸神黄...
7.5</p>
 <p><span class="btn btn-success">选座购票</span></h6></p>
           </div>
          </div>
        </div> 
</div>
        
        </td>
        <td>
        <a href="">影片分类  · · · · · ·</a>  (  <a href="">更多</a> )
        
         <p><a href="">爱情</a>
           <a href="">喜剧</a>
           <a href="">剧情</a>
           <a href="">动画</a>
           <a href="">科幻</a>
           
         <a href="">动作</a>
            <a href="">经典</a>
             <a href="">悬疑</a>
             <a href="">青春</a>
            <a href="">犯罪</a>
            <p><a href="">惊悚</a>
           <a href="">文艺</a>
           <a href="">搞笑</a>
           <a href="">纪录片</a>
           <a href="">励志</a>
        <a href="">战争</a>
           <a href="">恐怖</a>
           <a href="">黑色幽默美国</a>
           <p> <a href="">日本</a>
         <a href="">香港</a>
         <a href="">英国</a>
           <a href="">中国</a>
          <a href="">韩国</a>
          <a href="">法国</a>
          <a href="">台湾</a>
          <a href="">中国大陆德国</a></p> 
       <div>
           <h4 class="test-success"> 近期热门 · · · · · · </h4> <a href="">更多  </a> 
          <ol>
        <li><a href="">小丑回魂</a>  </li>
          <li><a href="">春宵苦短，少女前进吧！</a> </li> 
          <li><a href="">忌日快乐</a> </li>
          <li><a href="">我能说</a> </li>
          <li><a href="">神偷联盟</a> </li>
         <li><a href="">极寒之城</a> </li>
           <li><a href="">星际特工：千星之城</a> </li>
          <li><a href="">起跑线</a> </li>
           <li><a href="">家族之苦2</a> </li>
          <li><a href="">南汉山城</a> </li>
         </ol>
         </div>
        </td>
        </tr>   
      </tbody>
     </table> 
     </div>
       </div>
<!--main doubanPlay end--> 
<!--Picture-->
<img src="https://img3.doubanio.com/view/dale-online/dale_ad/public/d06a7b34f11e69b.jpg"  class="img-responsive center-block" />
<!--Picture-->
<!-- Group  -->
<div > 
   <div > 
    <table class="table"> 
     <tbody> 
      <tr>
       <td> <h5>小组</h5><p><h6><a href=""> 精选</a></h6></p><p><h6><a href="">文化</a></h6></p>
       <p><h6><a href="">行摄</a></h6></p><p><h6><a href="">娱乐</a></h6></p><p><h6><a href="">时尚</a></h6></p> 
      <p><h6><a href="">
生活</a></h6></p><p><h6><a href="">科技</a></h6></p>
       </td> 
       <td> 
       
<div><a href="">热门小组  · · · · · ·  </a>(<a href=""> 更多 </a>)</div>


        <div class="col-sm-6 col-md-5">
         <div class=""> 
          <img src="https://img3.doubanio.com/icon/g407193-15.jpg" class="img-zi" width="48" style="float:left"/> 
         </div> 
         <div class="caption"> 
          <h6>
帮帮组™加入这个组就有人帮你了！
15352 个成员
</h6> 
         
         </div> 
        </div> 

        <div class="col-sm-6 col-md-5">
         <div class=""> 
          <img src="https://img3.doubanio.com/icon/g10083-4.jpg" class="img-zi" width="48" style="float:left"/> 
         </div> 
         <div class="caption"> 
          <h6>我爱三毛
44483 个成员</h6> 
         
         </div> 
        </div>

         <div class="col-sm-6 col-md-5">
          <div class="">
           
           <img src="https://img1.doubanio.com/icon/g210869-9.jpg" class="img-zi" width="48" style="float:left"/> 
          </div> 
          <div class="caption"> 
           <h6>沙发客
22090 个成员</h6> 
         
          </div> 
        </div>
          <div class="col-sm-6 col-md-5" > 
           <div class="">
            
            <img src="https://img1.doubanio.com/icon/g37688-27.jpg" class="img-zi" width="48" style="float:left"/> 
           </div> 
           <div class="caption"> 
            <h6>刘慈欣
22568 个成员</h6> 
           
           </div>
          </div> 

           <div class="col-sm-6 col-md-4">
            <div class="">
             
             <img src="https://img3.doubanio.com/icon/g20618-4.jpg" class="img-zi" width="48" style="float:left"/> 
            </div> 
            <div class="caption"> 
             <h6>西双版纳
10407 个成员</h6> 
            
            </div>
          </div> 

            <div class="col-sm-6 col-md-5">
             <div class="">
              
              <img src="https://img1.doubanio.com/icon/g37688-27.jpg" class="img-zi" width="48" style="float:left"/> 
             </div> 
             <div class="caption"> 
              <h6>记事本圆梦小组
109957 个成员</h6> 
              
             </div> 
            </div> 

     
            <div class="col-sm-6 col-md-5">
             <div class="">
              
              <img src="https://img3.doubanio.com/icon/g20618-4.jpg" class="img-zi" width="48" style="float:left"/> 
             </div> 
             <div class="caption"> 
              <h6>搭讪学
93385 个成员</h6> 
              
             </div> 
            </div> 

            <div class="col-sm-6 col-md-5">
             <div class="">
              
              <img src="https://img1.doubanio.com/icon/g170177-27.jpg" class="img-zi" width="48" style="float:left"/> 
             </div> 
             <div class="caption"> 
              <h6>这辈子一定要做几件疯狂的事
91730 个成员</h6> 
              
             </div> 
            </div> 
           <div class="col-sm-6 col-md-5">
             <div class="">
              
              <img src="https://img3.doubanio.com/icon/g83759-2.jpg" class="img-zi" width="48" style="float:left"/> 
             </div> 
             <div class="caption"> 
              <h6>我们就是要做衣服给自己穿
3823 个成员</h6> 
              
             </div> 
            </div> 
             <div class="col-sm-6 col-md-5">
             <div class="">
              
              <img src="https://img3.doubanio.com/icon/g109498-1.jpg" class="img-zi" width="48" style="float:left"/> 
             </div> 
             <div class="caption"> 
              <h6>自己给自己剪头发
31702 个成员</h6> 
              
             </div> 
            </div> 
             <div class="col-sm-6 col-md-5">
             <div class="">
              
              <img src="https://img1.doubanio.com/icon/g362263-7.jpg" class="img-zi" width="48" style="float:left"/> 
             </div> 
             <div class="caption"> 
              <h6>对象太他妈难找了党-单身凸^-^凸
15536 个成员</h6> 
              
             </div> 
            </div> 
 
        </td> 
       <td> 
      
     <a href=""> 小组分类  · · · · · ·</a>

 <h6><p> <a href="">  兴趣» </a>旅行 摄影 影视 音乐 文学 游戏 动漫 运动 戏曲 桌游 怪癖</p>
<p> <a href="">  生活» </a>健康 美食 宠物 美容 化妆 护肤 服饰 公益 家庭 育儿 汽车</p>
<p> <a href="">  购物» </a>淘宝 二手 团购 数码 品牌 文具</p>
<p> <a href="">  社会» </a>求职 租房 励志 留学 出国 理财 传媒 创业 考试</p>
<p> <a href="">  艺术» </a>设计 手工 展览 曲艺 舞蹈 雕塑 纹身</p>
<p> <a href=""> 学术»</a> 人文 社科 自然 建筑 国学 语言 宗教 哲学 软件 硬件 互联网</p>
<p> <a href="">  情感» </a>恋爱 心情 心理学 星座 塔罗 LES GAY</p>
<p> <a href="">  闲聊» </a>吐槽 笑话 直播 八卦 发泄</p></h6>

       
        </td> 
      </tr> 
     </tbody> 
    </table> 
   </div> 
  </div>
<!-- Group end-->

<!-- Reading -->
<div > 
   <div > 
    <table class="table"> 
     <tbody> 
      <tr> 
       <td> <div> <h4>读书</h4></div><div> <p><h6><a href="">影讯&amp;购票</a></h6></p><p><h6><a href="">选电影</a></h6></p><p><h6><a href="">电视剧</a></h6></p><p><h6><a href="">排行榜</a></h6></p><p><h6><a href="">分类</a></h6></p> 
      <p><h6><a href="">影评</a></h6></p><p><h6><a href="">预告片</a></h6></p><p><h6><a href="">问答</a></h6></p> </div>
       </td> 
       <td> 
        <div class="col-sm-6 col-md-3"> 
         <div class="thumbnail"> 
          <img src="https://img3.doubanio.com/mpic/s29563532.jpg" class="img-zi" width="110" height="110" /> 
         </div> 
         <div class="caption"> 
          <h6>少数派报告 〔美〕菲利普...</h6> 
         
         </div> 
        </div> 

        <div class="col-sm-6 col-md-3"> 
         <div class="thumbnail"> 
          <img src="https://img3.doubanio.com/mpic/s29574276.jpg" class="img-zi" width="110" height="110"/> 
         </div> 
         <div class="caption"> 
          <h6>传家之物 〔加〕艾丽丝...</h6> 
         
         </div> 
        </div>

         <div class="col-sm-6 col-md-3"> 
          <div class="thumbnail">
           
           <img src="https://img1.doubanio.com/mpic/s29559698.jpg" class="img-zi" width="110" height="110"/> 
          </div> 
          <div class="caption"> 
           <h6>终身成长 〔美〕卡罗尔..</h6> 
           
          </div> 
        </div>
          <div class="col-sm-6 col-md-3" > 
           <div class="thumbnail">
            
            <img src="https://img1.doubanio.com/view/ark_article_cover/large/public/34760338.jpg?v=1497005530.0" class="img-zi" width="110" height="110"/> 
           </div> 
           <div class="caption"> 
            <h6>不成问题的问题... 老舍</h6> 
           
           </div>
          </div> 

           <div class="col-sm-6 col-md-3"> 
            <div class="thumbnail">
             
             <img src="https://img3.doubanio.com/view/ark_article_cover/large/public/40980874.jpg?v=1510541197.0" class="img-zi" width="110" height="110"/> 
            </div> 
            <div class="caption"> 
             <h6>术刀 小刀 0.99元</h6> 
            
            </div>
          </div> 

            <div class="col-sm-6 col-md-3"> 
             <div class="thumbnail">
              
              <img src="https://img3.doubanio.com/view/ark_article_cover/large/public/24350126.jpg?v=1473837321.0" class="img-zi" width="110" height="110"/> 
             </div> 
             <div class="caption"> 
              <h6>换头人 七弦弹 2.99元</h6> 
              
             </div> 
            </div> 

            <div class="col-sm-6 col-md-3"> 
             <div class="thumbnail">
              
              <img src="https://img3.doubanio.com/view/ark_article_cover/large/public/40534523.jpg?v=1508235137.0" class="img-zi" width="110" height="110"/> 
             </div> 
             <div class="caption"> 
              <h6>热炕 平静的黄土地 1.99元</h6> 
              
             </div> 
            </div> 

            <div class="col-sm-6 col-md-3"> 
             <div class="thumbnail">
              
              <img src="https://img3.doubanio.com/view/ark_article_cover/large/public/24201216.jpg?v=1508926285.0" class="img-zi" width="110" height="110"/> 
             </div> 
             <div class="caption"> 
              <h6>病人与它 II... 路大阳 1.99元</h6> 
              
             </div> 
            </div> 
        </td> 
       <td> 
       <a>热门标签  · · · · · ·  </a>(<a> 更多 </a>)

<h6><p><a>[文学]</a> 小说 随笔 日本文学 散文 诗歌 童话 名著 港台 更多</p>
<p><a>[流行]</a> 漫画 推理 绘本 青春 科幻 言情 武侠 奇幻 更多</p>
<p><a>[文化] </a>历史 哲学 传记 设计 建筑 电影 回忆录 音乐 更多</p>
<p><a>[生活] </a>旅行 励志 职场 教育 美食 灵修 健康 家居 更多</p>
<p><a>[经管] </a>经济学 管理 商业 金融 营销 理财 股票 企业史 更多</p>
<p><a>[科技] </a>s科普 互联网 编程 交互设计 算法 通信 神经网络 更多</p></h6> </td> 
      </tr> 
     </tbody> 
    </table> 
   </div> 
  </div>
<!-- Reading end-->


<!-- Music -->
<div > 
   <div > 
    <table class="table"> 
     <tbody> 
      <tr> 
       <td> <h4>音乐</h4><p><h6><a href="">音乐人</a></h6></p><p><h6><a href="">潮潮豆瓣音乐周</a></h6></p>
       <p><h6><a href="">金羊毛计划</a></h6></p><p><h6><a href="">专题</a></h6></p><p><h6><a href="">排行榜</a></h6></p> 
      <p><h6><a href="">分类浏览</a></h6></p><p><h6><a href="">乐评</a></h6></p><p><h6><a href="">豆瓣FM</a></h6></p> 
      <p><h6><a href="">歌单</a></h6></p> <p><h6><a href="">阿比鹿音乐奖</a></h6></p> 
       </td> 
       <td> 
       <a>豆瓣新碟榜  · · · · · ·</a>  ( <a>更多</a>)
         <div class="container">
       <div class="row">
        <div class="col-sm-6 col-md-3"> 
         <div class=""> 
          <img src="https://img1.doubanio.com/spic/s29595319.jpg" class="img-zi" /> 
         </div> 
         <div class="caption"> 
          <h6><p>1. No.13 作品: 跳舞</p>的梵谷
孙燕姿
8.2</h6> 
         
         </div> 
        </div> 

        <div class="col-sm-6 col-md-3"> 
         <div class=""> 
          <img src="https://img1.doubanio.com/spic/s29599018.jpg" class="img-zi" /> 
         </div> 
         <div class="caption"> 
          <h6>2. 流行
李宇春 Chris Lee
8.0</h6> 
          
         </div> 
        </div>

         <div class="col-sm-6 col-md-3"> 
          <div class="">
           
           <img src="https://img3.doubanio.com/spic/s29611306.jpg" class="img-zi" /> 
          </div> 
          <div class="caption"> 
           <h6><p>3. 嗯
</p>李榮浩
5.8</h6> 
           
          </div> 
        </div>
          <div class="col-sm-6 col-md-3" > 
           <div class="">
            
            <img src="https://img1.doubanio.com/spic/s29611508.jpg" class="img-zi" /> 
           </div> 
           <div class="caption"> 
            <h6><p>4. 偷故事的人</p>
张惠妹
6.9</h6> 
           
           </div>
          </div> 
  </div> 
    <div class="row"> 
           <div class="col-sm-6 col-md-3"> 
            <div class="">
             
             <img src="https://img1.doubanio.com/spic/s29544798.jpg" class="img-zi" /> 
            </div> 
            <div class="caption"> 
             <h6><p>5. reputation</p>
Taylor Swift
7.3</h6> 
             
            </div>
          </div> 

            <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img1.doubanio.com/spic/s29587447.jpg" class="img-zi" /> 
             </div> 
             <div class="caption"> 
              <h6><p>6. Everyday Is Christmas</p>
Sia
7.6</h6> 
             
             </div> 
            </div> 

            <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/spic/s29611653.jpg" class="img-zi" /> 
             </div> 
             <div class="caption"> 
              <h6><p>7. 2집 Perfect Velvet</p>
RED VELVET
7.8</h6> 
             
             </div> 
            </div> 

            <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/spic/s29567684.jpg" class="img-zi" /> 
             </div> 
             <div class="caption"> 
              <h6><p>8. Finally</p>
安室奈美恵
9.6</h6> 
           
             </div> 
            </div> 
              </div> 

<p><div><a href="">热门歌单  · · · · · ·  </a>( <a href="">更多 </a>)</div></p>
  <div class="row"> 
            <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/spic/s29567684.jpg" class="img-zi" /> 
             </div> 
             <div class="caption"> 
              <h6>心旷神怡 沁人心脾的纯音乐</h6> 
             
             </div> 
            </div> 
            
   <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/spic/s29567684.jpg" class="img-zi" /> 
             </div> 
             <div class="caption"> 
              <h6>
致郁神器</h6> 
              
             </div> 
            </div> 

               <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/spic/s29567684.jpg" class="img-zi" /> 
             </div> 
             <div class="caption"> 
              <h6>
听一首爱上所有</h6> 
             
             </div> 
            </div> 

               <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/spic/s29567684.jpg" class="img-zi" /> 
             </div> 
             <div class="caption"> 
              <h6>
豆瓣热门歌曲精选-part4</h6> 
             
             </div> 
            </div> 
          <div class="col-sm-4 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/spic/s29567684.jpg" class="img-zi" /> 
             </div> 
             <div class="caption"> 
              <h6>
你不在的那些年，至少还有你...</h6> 
             
             </div> 
            </div> 
             <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/spic/s29567684.jpg" class="img-zi" /> 
             </div> 
             <div class="caption"> 
              <h6>阿莉埃蒂</h6> 
             
             </div> 
            </div> 
             </div>   
             </div> 

        </td> 
       <td> 
   <a>本周流行音乐人  · · · · · · </a> ( <a>更多 </a>)
       <ol>
       <li>
         <h6>    
         <img src="https://img1.doubanio.com/view/site/small/public/fc00cb95a9b74d9.jpg" class="img-zi" width="48"/> 
          <span>放肆的肆
          流派: 流行 Pop 
          96882人关注
          </span>
          </h6> 
       </li>
       <li>
            
         <img src="https://img3.doubanio.com/view/site/small/public/708f5621f52eeb1.jpg" class="img-zi" width="48"/> 
         <h6>  <span>旅行団
流派: 摇滚 Rock 
38792人关注
          </span>
          </h6> 
       </li>
       <li>
            
         <img src="https://img3.doubanio.com/view/site/small/public/4720018492139c2.jpg" class="img-zi" width="48"/> 
          <h6> <span>Mirrors解离的真实
流派: 摇滚 Rock 
268人关注
          </span>
          </h6> 
       </li>
       <li>
            
         <img src="https://img3.doubanio.com/view/site/small/public/4720018492139c2.jpg" class="img-zi" width="48"/> 
        <h6>   <span>nara
流派: 轻音乐 Easy Listening 
783人关注
          </span>
          </h6> 
       </li>
       <li>
           
         <img src="https://img3.doubanio.com/view/site/small/public/17827c434f685bd.jpg" class="img-zi" width="48"/> 
        <h6>    <span>白天不亮
流派: 电子 Electronica 
10850人关注
          </span>
          </h6> 
       </li>
       </ol>
        </td> 
      </tr> 
     </tbody> 
    </table> 
   </div> 
  </div>
<!--Music end-->
<!-- Store street -->
<div > 
   <div > 
    <table class="table"> 
     <tbody> 
      <tr> 
       <td> 
       <h4>市集</h4><p><h6><a href="">美食</a></h6></p><p><h6><a href="">服装</a></h6></p>
       <p><h6><a href="">配饰</a></h6></p><p><h6><a href="">包袋</a></h6></p><p><h6><a href="">鞋靴</a></h6></p> 
      <p><h6><a href="">美容护肤</a></h6></p><p><h6><a href="">家居生活</a></h6></p>
       </td> 
       <td> 
      <div><a href=""> 热门商品  · · · · · · </a> ( <a href="">更多</a> )</div>
        <div class="col-sm-6 col-md-4"> 
             <div class="">
              
              <img src="https://img1.doubanio.com/view/dianpu_product_item/medium/public/p1982227.jpg" class="img-zi" wwidth="250" height="250"/> 
             </div> 
             <div class="caption"> 
              <h6>桌面置物架</h6> 
              
             </div> 
            </div> 

        <div class="col-sm-6 col-md-3"> 
         <div class=""> 
          <img src="https://img3.doubanio.com/view/dianpu_product_item/medium/public/p458880.jpg" class="img-zi" width="110" height="110"/> 
         </div> 
         <div class="caption"> 
          <h6>
木马逐风Mazur“三</h6> 
          
         </div> 
        </div>

         <div class="col-sm-6 col-md-3"> 
          <div class="">
           
           <img src="https://img3.doubanio.com/view/dianpu_product_item/medium/public/p270364.jpg" class="img-zi" width="110" height="110"/> 
          </div> 
          <div class="caption"> 
           <h6>多功能U型枕 贴心护颈枕
</h6> 
          
          </div> 
        </div>
       
          <div class="col-sm-6 col-md-3" > 
           <div class="">
            
            <img src="https://img3.doubanio.com/view/dianpu_product_item/medium/public/p521646.jpg" class="img-zi" width="110" height="110"/> 
           </div> 
           <div class="caption"> 
            <h6> PISN  秋冬羊毛混纺不掉毛超软短款套头加粗长袖毛衣针</h6> 
           
           </div>
          </div> 

           <div class="col-sm-6 col-md-3"> 
            <div class="">
             
             <img src="https://img1.doubanio.com/view/dianpu_product_item/medium/public/p509169.jpg" class="img-zi" width="110" height="110"/> 
            </div> 
            <div class="caption"> 
             <h6>良朴商务中筒男女袜纯色袜情侣袜  五双混色装</h6> 
             
            </div>
          </div> 
           <div class="col-sm-6 col-md-4"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/view/dianpu_product_item/medium/public/p377790.jpg" class="img-zi" width="250" height="250"/> 
             </div> 
             <div class="caption"> 
              <h6>十四行诗 原味台湾手工黑糖</h6> 
             
             </div> 
            </div> 

            <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img1.doubanio.com/view/dianpu_product_item/medium/public/p1982227.jpg" class="img-zi" width="110" height="110"/> 
             </div> 
             <div class="caption"> 
              <h6> 桌面置物架</h6> 
            
             </div> 
            </div> 
             <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/view/dianpu_product_item/medium/public/p377790.jpg" class="img-zi" width="110" height="110"/> 
             </div> 
             <div class="caption"> 
              <h6>   十四行诗 原味台湾手工黑糖茶 红糖姜茶姜母茶生姜冲绳工艺 黑糖原味</h6> 
             
             </div> 
            </div> 

         

           

            <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/view/dianpu_product_item/medium/public/p458880.jpg" class="img-zi" width="110" height="110"/> 
             </div> 
             <div class="caption"> 
              <h6>木马逐风Mazur“三茶六味”牛轧糖礼盒</h6> 
             
             </div> 
            </div> 
            
   <div class="col-sm-6 col-md-3"> 
             <div class="">
              
              <img src="https://img3.doubanio.com/view/dianpu_product_item/medium/public/p270364.jpg" class="img-zi" width="110" height="110"/> 
             </div> 
             <div class="caption"> 
              <h6>
多功能U型枕 贴心护颈枕</h6> 
              
             </div> 
            </div> 


        </td> 
       <td> 
       <a href="">热门店铺  · · · · · · </a> (<a href=""> 更多</a> )
       <p>
         <h6>    
         <img src="https://img3.doubanio.com/view/dianpu_shop_icon/medium/public/2e35f89d2c7990d.jpg" class="img-zi"  width="48"/> 
          <span>ERICD原创设计以传统服装制作工艺为主导，结合当下最流行的...
          </span>
          </h6> 
       </p>
       <p>
         <h6>    
         <img src="https://img3.doubanio.com/view/dianpu_shop_icon/medium/public/9d03efbf705887d.jpg" class="img-zi"  width="48"/> 
          <span>PISN
每周五定时上新，注意关注偶
          </span>
          </h6> 
       </p>
        <p>
         <h6>    
         <img src="https://img3.doubanio.com/view/dianpu_shop_icon/medium/public/169b1b76356f636.jpg" class="img-zi"  width="48"/> 
          <span>Nanaz 家居百货
不用装修，NaNaZ home 也能你家变得更美一些。
          </span>
          </h6> 
       </p>
       <p>
         <h6>    
         <img src="https://img3.doubanio.com/view/dianpu_shop_icon/medium/public/7f37444b0a6a0e2.jpg" class="img-zi" width="48"/> 
          <span>黄小姐
卖我会穿的打底，做你会爱的姑娘
          </span>
          </h6> 
       </p>
        </td> 
      </tr> 
     </tbody> 
    </table> 
   </div> 
  </div>
<!-- Store street  end-->
<!-- Picture -->
<img src="https://img1.doubanio.com/view/dale-online/dale_ad/public/2ac138c72d252b8.jpg"  class="img-responsive center-block" />
<!-- Picture -->

<!-- City -->
<div > 
   <div > 
    <table class="table"> 
     <tbody> 
      <tr>
       <td> 
       <h4>同城</h4>
       <p><h6><a href="">近期活动</a></h6></p><p><h6><a href="">主办方</a></h6></p>
       <p><h6><a href="">舞台剧</a></h6></p><p><h6><a href="">2016舞台剧榜单</a></h6></p>
       </td> 
       <td> 
       深圳 · 本周热门活动  · · · · · ·  ( 更多 )
        <div class="col-sm-6 col-md-5"> 
         <div class=""> 
          <img src="https://img3.doubanio.com/view/event_poster/small/public/dfa907def885264.jpg" class="img-zi" style="float:left" /> 
         </div> 
         <div class="caption"> 
          <h6>2017大鹏金沙湾沙滩音乐节
12月2日 周六 14:00 - 20:00
佳兆业金沙湾国际乐园 深圳...
144人关注</h6> 
         
         </div> 
        </div> 

        <div class="col-sm-6 col-md-5"> 
         <div class=""> 
          <img src="https://img1.doubanio.com/view/event_poster/small/public/59240e2abdd8d88.jpg" class="img-zi" style="float:left" /> 
         </div> 
         <div class="caption"> 
          <h6>嘻哈全明星歌会2017演唱会-深圳站
12月10日 周日 19:00 - 21:00
深圳体育场 广东省深圳市福...
66人关注</h6> 
         
         </div> 
        </div>

         <div class="col-sm-6 col-md-5"> 
          <div class="">
           
           <img src="https://img1.doubanio.com/view/event_poster/small/public/afbfd5af878efc9.jpg" class="img-zi" style="float:left" /> 
          </div> 
          <div class="caption"> 
           <h6>2017丛林电子音乐节
12月9日 周六 - 12月10日 周日
深圳市龙岗体育中心 深圳市...
46人关注</h6> 
          
          </div> 
        </div>
          <div class="col-sm-6 col-md-5" > 
           <div class="">
            
            <img src="https://img1.doubanio.com/view/event_poster/small/public/4bc577969e2291a.jpg" class="img-zi" style="float:left" /> 
           </div> 
           <div class="caption"> 
            <h6>G.E.M.2017邓紫棋【Queen of Hearts】世界巡回演唱会...
12月2日 周六 19:30 - 21:30
华润深圳湾体育中心＂春茧...
35人关注</h6> 
            
           </div>
          </div> 

       <td> 
       <h4> <a href="">活动标签  · · · · · ·</a></h4> 
      
         <h6>    
          <span class="">
<p><a href="">音乐»</a> 小型现场 音乐会 演唱会 音乐节</p>
<p><a href="">戏剧»</a> 话剧 音乐剧 舞剧 歌剧 戏曲 其他</p>
<p><a href="">聚会»</a> 生活 集市 摄影 外语 桌游 夜店 交友 美食 派对</p>
<p><a href="">电影» </a>主题放映 影展 影院活动</p>
<p><a href="">其他» </a>讲座 展览 运动 旅行 公益</p>
          </span>
          </h6> 
       
        </td> 
     </tr> 
     </tbody> 
    </table> 
   </div>  
  </div>
<!--  City end-->
<!-- Picture -->
<img src="https://img3.doubanio.com/view/dale-online/dale_ad/public/dedf70667a21767.jpg"  class="img-responsive center-block" />

<!-- Picture -->

  
<!-- Footer -->
<div > 
   <div > 
    <table class="table"> 
     <tbody> 
      <tr> 
       <td>
       <span>
       <h6>
       <p>© 2005－2017 douban.com, all rights reserved 北京豆网科技有限公司    </p>
   <p> <a href="">京ICP证090015号</a>  京ICP备11027288号 网络视听许可证0110418号  </p>
   <p> <a href="">京网文[2015]2026-368号</a>   <a href="">京公网安备11010502000728  新出网证(京)字129号</a> </p> 
   <p>违法和不良信息举报电话：4008353331   </p>
   <p> 中国互联网举报中心 电话：12377  <a href="">《食品流通许可证》许可证：SP1101051510347287 </a> </p>
   <p> <a href="">新出发京批字第直160029号 </a> </p></h6></span>
      </td>
      <td>
      <span class="fright">
    <p> <a href="">关于豆瓣</a>
    <a href="">在豆瓣工作</a>
    <a href="">联系我们</a>
    <a href="">免责声明</a>
    
    <a href="" target="_blank">帮助中心</a>
    <a href="">移动应用</a>
    <a href="">豆瓣广告</a></p>
    <a href="" target="_blank" style="display: block; margin-top: 20px; width: 150px">
      <img src="https://img3.doubanio.com/img/files/file-1489464722.jpg" alt="网上有害信息举报专区">
    </a>
</span> 
      </td>
        </tr> 
     </tbody> 
    </table> 
   </div>  
  </div>
  <!--container-fluid end-->
 </div>
</div>
  <!--container-fluid end-->
  <!-- / .container -->
<!-- 引入BootStrap -->
<!-- jquery JavaScript -->
<script type="text/javascript" src="{% static 'jquery-3.1.1/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-3.1.1/jquery-3.1.1.js' %}"></script>

<!-- Bootstrap core JavaSScript -->
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!--引入 自定义js-->

</body>
</html>

 </body>
</html>
































 




























